*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}


.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #784534;
    height: 80px;
    width: 440px;
    padding: 2px;
    margin: 2px;
    color: #17d4fe;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 7px;
    
}